<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Национальная библиотека Беларуси</title>
</head>
<body style=" margin-left: 20%;
    margin-right: 20%;
    font-family:'Courier New', Courier, monospace;
    background-color: #efedf1;">
    <h1 style="text-align: center;">Национальная библиотека Беларуси</h1>
    <dl style="font-size: 18px;
    margin-left: 40px;">
        <dt><b>Национальная библиотека Беларуси</b></dt>
        <dd>- это современный социально-культурный центр, не имеющий аналогов во всей стране.</dd>
    </dl>
    <p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;<b>Здание библиотеки</b> – одно из самых уникальных архитектурных городских объектов, привлекающих путешественников со всего мира. Национальная минская библиотека открыта с 1922 года, но в 2002 библиотеку переместили в новое здание. В народе его назвали «Алмаз знаний», так как здание имеет форму ромбокубоктаэдра – полуправильного многогранника, стоящего на многоуровневой подставке. Архитекторы проекта – М. Виноградов и В. Крамаренко – выбрали форму алмаза, так как он символизирует такие ценности, как культура, знания и мудрость. От столь невероятной архитектурной идеи до ее воплощения прошло целых тринадцать лет! </p>
    <div style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.0153537921265!2d27.64396751586058!3d53.931471080105865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcedd83dd1587%3A0xde7f1c4f89d5e8b2!2z0J3QsNGG0YvRj9C90LDQu9GM0L3QsNGPINCx0ZbQsdC70ZbRj9GC0Y3QutCwINCR0LXQu9Cw0YDRg9GB0ZY!5e0!3m2!1sru!2sby!4v1679997777633!5m2!1sru!2sby" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        Национальная библиотека на карте
    </div>
</body>
</html>